div(class="position-relative p-5 w-100 bg-white shadow rounded ")
    div(class="position-absolute top-0 end-0 m-2") 
        i(class="fa-solid fa-circle-xmark text-danger agrandar" id="btnCerrarFlot")
    legend(class="letraChida h4") New Reference value:
    .row
        div(class="col my-4 d-flex flex-column justify-content-start w-50 h6")    
            label(for="maxValue") Max. Value:
            input(class="py-2 inputses2 h6 m-2 " id="maxValue" name="maxValue" type="text")
        div(class="col my-4 d-flex flex-column justify-content-start w-50 h6")    
            label(for="minValue") Min. Value:
            input(class="py-2 inputses2 h6 m-2" id="minValue" name="minValue" type="text")
    .row
        div(class="col my-4 d-flex flex-column justify-content-start w-50 h6")    
            label(for="maxLimit") Limit max.:
            input(class="py-2 inputses2 h6 m-2 " id="maxLimit" name="maxlimit" type="text")
        div(class="col my-4 d-flex flex-column justify-content-start w-50 h6")    
            label(for="minLimit") Limit min.:
            input(class="py-2 inputses2 h6 m-2" id="minLimit" name="minLimit" type="text")
    .row
        div(class="col mt-2 d-flex flex-column justify-content-start w-50 h6")    
            select(class="form-select p-2" id="ageRange" name="ageRange" aria-label="Default select example")
                    option(selected) Age range:
                    option(value="child") Child
                    option(value="adult" ) Adult 
                    option(value="elderly" ) Elderly
        div(class="col  mt-2 d-flex flex-column justify-content-start w-50 h6")    
            select(class="form-select p-2" id="genderValue" name="genderValue" aria-label="Default select example")
                    option(selected) Gender:
                    option(value="male") Male
                    option(value="female") Female  
        div(class="col  mt-2 d-flex flex-column justify-content-start w-50 h6")    
            select(class="form-select p-2" id="pregnant" name="pregnant" aria-label="Default select example")
                    option(selected) Pregnant:
                    option(value=1) if 
                    option(value=0) not 
    .w-100.d-flex.justify-content-center.mt-3
        button.btn.btn-primary.text.white(id="btnRegisterValue") Add Value